################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iCal
/RPN/.vs/RPN/v16/Server/sqlite3
/RPN/.vs/RPN/v16
/C++/TestConsoleApp1
/ExcelDnaTest
/PowerPointAddIn
/Test1
/WebCalculator
/Coderbyte/.vs/Coderbyte/v16
/Coderbyte/Coderbyte/obj/Debug
