################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iCal
/RPN/.vs/RPN/v16/Server/sqlite3
